.app-header .header {
    background: #0166a3;
    height: 50px;
    width: 100%;
    margin: 0;
}

.app-header .header img {
    width: 75px;
    margin: auto;
    display: block;
    padding-top: 12px;
    cursor: pointer;
    position: relative;
}

.app-header input {
    position: absolute;
    right: 0;
    height: 25px;
    top: 0;
    width: 300px;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 15px;
    outline: 0;
}

body {
    background: #efefef;
}

i:hover {
    cursor: pointer;
}

.container button {
    margin-top: 3%;
}

#lists {
    margin-top: 5%;
}

#lists .list {
    background: #fff;
    padding: 2.5%;
    border: #efefef 10px solid;
}

.cards:hover {
    cursor: crosshair;
}

#lists .list .cards {
    background: #efefef;
    padding: 2.5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.logo {
    padding-left: 43%;
    color: white;
    padding-top: 10px;
    font-size: 20px;
}
